
@model User 
@{
    ViewData["Title"] = "Create User";
}

<h1 style="position:center">Create user</h1>

<div>

    <form asp-action="CreateUserView" method="post">

        <div>
            <label asp-for="Name">Name: </label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <label asp-for="Email">Email: </label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="Password">Password: </label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <button type="submit">Create</button>
    </form>

</div>

