
@model User
@{
    ViewData["Title"] = "UserDataView";
}

<h1>Name - @Model.Name </h1>
<h1>Email - @Model.Email </h1>
<h1>Password - @Model.Password </h1>

<a href="../Home/Index"><h3>Back to main page</h3></a>
