
@model int
@{
    ViewData["Title"] = "User page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/UserAccount/CreateUserView">#!</a>
    <div>
        <h1>@Model</h1>
    </div>
</div>
